body {
    font-size: 16px;
}

h1 {
    font-family: sans-serif;
    font-size: 65px;
    color: #ffaf00;
    text-decoration: line-through;
    text-align: center;
}

p {
    font-weight: 600;
    font-size: 3em;
    text-align: center;
}

ul {
    background-color: #999999;
    font-style: italic;
}

li {
    line-height: 30px;
}

.newBackgroundColor {
    background-color: cyan;
}

#item1 {
    background-color: #ffff00;
}

#item2 {
    background-color: #ff0000;
}

#item3 {
    background-color: #7a3a01;
}
