* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.containerPokemons {
    max-width: 1000px;
    margin: auto;
    min-height: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}