div:hover {
    border: 2px solid #af3a7b;
}

div:nth-child(n) {
    background-color: aqua;
}

div:nth-child(2n +1) {
    background-color: pink;
}

div:nth-child(3) {
    background-color: orange;
}

div:nth-child(4) {
    background-color: red;
}

div:nth-child(5) {
    background-color: green;
}

div:nth-child(n) > h3 {
    color: white;
}

div:nth-child(2n +1) > h3 {
    color: cyan;
}

div:nth-child(3) > h3 {
    color: purple;
}

div:nth-child(4) > h3 {
    color: springgreen;
}

div:nth-child(5) > h3 {
    color: salmon;
}